<div class="pl-side-by-side">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                {{{content}}}
            </div>
            <div class="col-5 side-by-side-reference">
                <div class="card">
                    <div class="card-header bg-secondary text-white">Reference Material</div>
                    <div class="card-body">
                        {{{reference}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
