<li class="ui-sortable-handle" style="margin-left: {{indent}}ch;">{{#segments}}{{#code}}<code class="prettyprint lang-{{language}}">{{content}}</code>{{/code}}{{#blank}}<input type="text" style="width: {{width}}ch;" class="text-box parsons-blank" value="{{default}}" .="">{{/blank}}{{/segments}}</li>
