<button type="button" class="collapsible"> 
<i class="fas fa-solid fa-puzzle-piece" style="color:rgb(18, 18, 66); font-size:x-large; vertical-align:middle;"></i><span style="vertical-align:middle;">&nbsp; Can't figure this exercise out? Click here to see a hint.</span></button>
<div class="content">
<p> <br>
  {{{text}}}
</p>
</div>




