
<style>
#{{type}} {
  border-radius: 10px;
  border: 0px solid #525252;
  padding: 10px;  
  background-color: {{background-color}};
  max-width: 680px; 
  margin: auto;
}
</style>

<div id="{{type}}">
<p><b>{{label}}</b></p>
<p>{{{content}}}</p>
</div>
<br>

